@model IndexModel
@{
    ViewBag.Title = "Home";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTab').tab();

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        });
    </script>
}

<h2>Home</h2>

<div class="row">
    <div class="span9">
         
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#body">BODY</a></li>
            <li><a href="#tools">TOOLS</a></li>
        </ul>
 
        <div class="tab-content">
            <div class="tab-pane active" id="body">
                <div class="span3">
                    <ul>
                        @foreach (var item in Model.BodyParts)
                        {
                            <li>@(Html.ActionLink(item.name, "List", new { bodyPart = item.bodyPartID }))</li>
                        }
                    </ul>
                </div>
                <div class="span4">
                    <img src="~/images/body.png" usemap="#planetmap" class="text-center">

                    <map name="planetmap">
                        <area shape="rect" coords="115,40,145,70" href="@Url.Action("List", new { bodyPart = 2 })" title="Neck" alt="Neck">
                        <area shape="rect" coords="80,80,175,65" href="@Url.Action("List", new { bodyPart = 1 })" title="Back" alt="Back">
                        <area shape="rect" coords="0,230,85,85" href="@Url.Action("List", new { bodyPart = 3 })" title="Arm" alt="Arm">
                        <area shape="rect" coords="250,230,175,85" href="@Url.Action("List", new { bodyPart = 3 })" title="Arm" alt="Arm">
                        <area shape="rect" coords="160,180,95,120" href="@Url.Action("List", new { bodyPart = 4 })" title="Belly" alt="Belly">
                        <area shape="rect" coords="170,180,85,290" href="@Url.Action("List", new { bodyPart = 5 })" title="Thigh" alt="Thigh">
                    </map> 
                </div>
               
            </div>
            <div class="tab-pane" id="tools">
                <ul>
                    @foreach (var item in Model.Tools)
                    {
                        <li class="tool-thumb">
                            @if(item.HasImage)
                            {
                                <a href="@Url.Action("List", new { tool = item.ToolID })">
                                    <img src="~/Content/Images/Tools/@(item.FirstImage)" />
                                </a>
                            }
                            @(Html.ActionLink(item.Name, "List", new { tool = item.ToolID }))
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
    @if(Model.LastViewed.Count > 0)
    {
        <div class="span3">
            <h4>Last @(Model.LastViewed.Count) viewed</h4>
            <ul>
                @foreach (var item in Model.LastViewed)
                {
                    <li>@Html.ActionLink(item.name, "Details", new { id = item.workoutID })</li>    
                }
            </ul>
        </div>
    }
    <div class="span3" style="background-color:#f67238; color:#FFFFFF; text-align:center; margin-top:30px;"><h3>YOUR CREATIVITY DAY BANNER HERE</h3></div>
</div>
